*{
  margin: 0px;
  pading: 0px;
  color: #f8f32b;
}

body{
  background-color: #000000;
  font-family: "Lucida Console", Monaco, monospace;
}

header{
  background-image: url("./images/header space.png");
  width: 1500px;
  height: 350px;
}

section{
  width: 750px;
  border: 2px;
  border-style: solid;
  border-color: #8d99ae;
  margin: 2px;
  padding: 5px;
  text-align: justify;
}

a{
  color: #2b2d42;
}

a:hover{
  color: #8d99ae; 
}

h1{
  font-size: 300%;
  color: #ffffff;
}
