/* Universal */
*{
  margin: 0px;
  pading: 0px;

  color: #000000;

  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-height: 450px) {
  #sideNav {padding-top: 15px;}
  #sideNav a {font-size: 18px;}
}

body{
  background-color: #d7263d /*#fcf8d3*/;

  /*code voor transition schuiven inhoud*/
  transition: margin-left .5s;
}

/* Content page (without footer and header) */
#main{
  margin-bottom: 23px;

  transition: opacity .5s;
}

/* Header and logo */
header{
  width: 100%;
  height: 150px;
  margin-bottom: 65px;

  background-color: #02182b;
  background-size: contain;

  text-align: center;
}

#logo{
  position: relative;

  height: 130px;
  width: auto;

  vertical-align: middle;
}

/* Page title */
#title{
  padding-top: 15px;

  font-family: 'Vollkorn SC', serif;
}

/* Footer */
footer{
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 20px;

  background-color: #000000;

  text-align: center;
  line-height: 20px;
}

footer p{
  color: #ffffff;
}

/* Page text */
section{
  width: 750px;
  border: 2px;
  border-style: solid;
  border-color: #011936;
  border-radius: 0 25px;
  margin: 3px auto;
  padding: 5px 10px;

  text-align: justify;
}

/* Homepage */

.homepage{
  background-color: #0f0f0f;
}

#homeTitle{
  position: absolute;
  top: 40%;

  width: 100%;

  text-align: center;
  font-size: 600%;
  font-family: 'Vampiro One', cursive;
}

/* Navigation */

/* Side navigation menubutton */
#fixMenubtn{
  position: fixed;
  left: 5px;
  top: 5px;
}

.menubtn{
  color: #818181;
}

.menubtn:hover{
  color: #f1f1f1;

  transition: 0.5s;
}

/* Side naigation menu */
#sideNav{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  height: 100%;
  width: 0;
  padding-top: 30px;
  overflow-x: hidden;

  background-color: #111;

  transition: 0.5s;
}

#sideNav a{
  padding: 8px 8px 32px;
  display: block;

  color: #818181;

  text-decoration: none;
  font-size: 25px;

  transition: 0.5s;
}

#sideNav a:hover{
  color: #f1f1f1;
}

#sideNav .currentlink{
  color: #f1f1f1;
}

#sideNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;

  margin-left: 50px;

  font-size: 36px;
}

/* Side navigation menubutton homepage */
.menubtnHome{
  color: #f8f32b;
}

.menubtnHome:hover{
  color: #ffffff;
}

/* Menu homepage */
#homeNav{
  top: 20%;

  text-align: center;
}

#homeNav a{
  color: #f8f32b;

  text-decoration: none;
  font-size: 25px;

  transition: 0.5s;
}

#homeNav a:hover{
  color: #ffffff;
}

/* Project navigation menu */
#projectNav{
  position: absolute;
  top: 153px;
  right: 0;

  width: 200px;
  padding: 5px 5px 5px 8px;

  background-color: #111;
}

#projectNav a{
  display: block;
  padding-top: 6px;

  color: #818181;

  text-decoration: none;
  font-size: 17px;

  transition: 0.5s;
}

#projectNav a:hover{
  color: #f1f1f1;
}

#projectNav .currentlink{
  color: #f1f1f1;
}

/* Images */
.img-round{
  border-radius: 50%;
}

/* Links */
a{
  color: #f8f32b;

  text-decoration: none;
}

a:hover{
  color: #ffffff;
}

.currentlink{
  color: #ffffff;
}

/* Headlines */
h1{
  color: #ffffff;

  font-size: 250%;
}

h2{
  font-size: 175%;
  font-family: 'Zilla Slab Highlight', cursive;
}

h3{
  color: #ffffff;
}
