*{
  margin: 0px;
  pading: 0px;
  color: #000000;
}

body{
  background-color: #d7263d;
  font-family: "Lucida Console", Monaco, monospace;
  /*code voor transition schuiven inhoud*/
  transition: margin-left .5s;
}

#main{
  transition: opacity .5s;
}

@media screen and (max-height: 450px) {
  #sidenav {padding-top: 15px;}
  #sidenav a {font-size: 18px;}
}

header{
  background-color: #02182b;
  background-size: contain;
  width: 100%;
  height: 150px;
  text-align: center;
  line-height: 150px;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  text-align: center;
  background-color: #000000;
  line-height: 20px;
}

footer p{
  color: #ffffff;
}

section{
  width: 750px;
  border: 2px;
  border-style: solid;
  border-color: #011936;
  border-radius: 0 25px;
  margin: 3px auto;
  padding: 5px 10px;
  text-align: justify;
}

#sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

#sidenav a{
  padding: 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

#sidenav a:hover{
  color: #f1f1f1;
}

#sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#projectnav{
  position: absolute;
  top: 153px;
  right: 0;
  background-color: #111;
  width: 200px;
  padding: 5px 5px 5px 8px;
}

#projectnav a{
  display: block;
  color: #818181;
  text-decoration: none;
  font-size: 17px;
  padding-top: 6px;
  transition: 0.5s;
}

#projectnav a:hover{
  color: #f1f1f1;
}

.menubtn{
  color: #818181;
}

.menubtn:hover{
  color: #f1f1f1;
  transition: 0.5s;
}

#fixMenubtn{
  position: absolute;
  left: 5px;
  top: 5px;
}

#logo{
  height: 130px;
  width: auto;
}

.img-round{
  border-radius: 50%;
}

a{
  color: #f8f32b;
}

a:hover{
  color: #ffffff;
}

h1{
  font-size: 300%;
  color: #ffffff;
}

h3{
  color: #ffffff;
}
